.App {
  font-family: sans-serif;
  text-align: center;
}

body,
td {
  color: rgb(75, 75, 75);
}
h1 {
  display: inline;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  text-align: start;
}
h2 {
  display: inline;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}
th {
  font-weight: 200;
  color: #000;
}
.App {
  max-width: 600px;
  margin: 50px auto 10px auto;
  background: rgba(252, 228, 73, 0.07);
  padding: 30px 30px;
  border-radius: 10px;
  border: 1px solid rgb(75, 75, 75, 0.1);
}
.source-link {
  font-size: 13px;
  text-align: center;
}
.search-box {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
.current-place {
  margin: 30px 20px 0 20px;
  text-align: left;
}

.current-place img {
  height: 64px;
  width: 64px;
  vertical-align: top;
  margin-right: 5px;
}
.weather {
  margin-top: 20px;
}

.currentTemp {
  display: inline;
  font-size: 64px;
  line-height: 1em;
}

.units {
  vertical-align: top;
}

#forecast {
  background-color: white;
  padding: 5px 0px;
  border-radius: 10px;
  border: 1px solid rgb(75, 75, 75, 0.1);
  text-align: center;
}
.forecast-day {
  font-size: 16px;
}
.forecast-temps {
  font-size: 13px;
}
.forecast-temp-min {
  opacity: 0.5;
}
